<!-- Waline 评论 -->
<link rel="stylesheet" href="/css/waline.css?v=1780653157" />
<div id="waline" style="margin-top:3rem;padding-top:2rem;border-top:1px solid #333;"></div>
<script type="module">
  import { init } from '/js/waline.js?v=1780653157';
  init({
    el: '#waline',
    serverURL: '/api/waline',
    lang: '{{ if eq .Lang "en" }}en{{ else }}zh-CN{{ end }}',
    dark: 'html:not([data-theme="light"])',
    meta: ['nick', 'mail'],
    requiredMeta: ['nick'],
    login: 'disable',
    wordLimit: 500,
    pageview: true,
    comment: true,
  });
</script>
