{{ define "main" }}
<div class="guestbook-header">
    <h1>{{ if eq .Lang "en" }}Guestbook{{ else }}留言墙{{ end }}</h1>
    <p>{{ if eq .Lang "en" }}Leave a message, share your thoughts!{{ else }}留下你的足迹，说点什么吧！{{ end }}</p>
</div>

<link rel="stylesheet" href="/css/waline.css" />
<div id="waline"></div>
<script type="module">
  import { init } from '/js/waline.js';
  init({
    el: '#waline',
    serverURL: '/api/waline',
    lang: '{{ if eq .Lang "en" }}en{{ else }}zh-CN{{ end }}',
    dark: true,
    meta: ['nick', 'mail'],
    requiredMeta: ['nick'],
    login: 'disable',
    wordLimit: 500,
    pageview: false,
    comment: false,
  });
</script>

<style>
#waline {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 60px;
}
</style>
{{ end }}
